<%- include ('../partials/head') %> 
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <h1 class="my-4">Account Settings</h1>

    <!-- Form to upload profile picture
    <form action="/upload-profile-picture" method="post" enctype="multipart/form-data" class="w-25 mb-3">
        <label for="profilePicture" class="form-label">Profile Picture:</label>
        <input type="file" class="form-control" id="profilePicture" name="profilePicture" required />
        <button type="submit" class="btn btn-primary mt-2">Save Changes</button>
    </form> -->

    <!-- Form to change username -->
    <form action="/change-username" method="post" class="w-25 mb-3">
        <label for="newUsername" class="form-label">Change Username:</label>
        <input type="text" class="form-control" id="newUsername" name="newUsername" required />
        <button type="submit" class="btn btn-primary mt-2">Save Changes</button>
    </form>

    <!-- Form to change password -->
    <form action="/change-password" method="post" class="w-25">
        <label for="currentPassword" class="form-label">Current Password:</label>
        <input type="password" class="form-control" id="currentPassword" name="currentPassword" required />

        <label for="newPassword" class="form-label mt-2">New Password:</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" required />
        <button type="submit" class="btn btn-primary mt-2">Save Changes</button>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>
