<%- include ('../partials/head') %> 
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>



<main>
  <div class="container d-flex flex-column justify-content-center align-items-center border">
    

  </div>
</main>
<%- include ('../partials/footer') %>