<header class="mb-5">
    <nav class="navbar navbar-expand-sm border-bottom">
        <div class="container">
            <button
                class="navbar-toggler ms-auto"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-collapse"
                aria-controls="navbar"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse">

                <!-- Making the partial appear but it also shows before login -->

                <h1 style="text-align: center; font-family: 'Bangers', cursive" class="me-auto">
                    Marvel Comic Reviews
                </h1>

                <% if (locals.user && locals.user.username) { %>
                <div class="nav-item me-auto">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                          </li>
                      
                        <li class="nav-item">
                          <a class="nav-link" href="/discover">Discover</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/groups">Groups</a>
                        </li>
        
                    </ul>
                
                </div>
                <% } %>

                <!-- Login/logout button -->
                <div class="nav-item me-1">
                    <% if (locals.user && locals.user.username) { %>
                    <a class="btn btn-secondary" href="/account"> Account </a>
                    <a class="btn btn-danger" href="/logout"> Logout </a>
                    <% } else { %>

                    <a class="btn btn-primary" href="/login">Login</a>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- style = "color: red; text-decoration: none"; -->
