<header>
    <nav class="navbar navbar-expand-sm border-bottom">
      <div class="container">
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <!-- removed discover button -->
            </li>
          </ul>
          <!-- Making the partial appear but it also shows before login -->
          <div class="nav-item me-1">
            <%- include ('./search') %>
                
          </div>

          <div class="nav-item me-1">
            <!-- TO-DO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
                <a class = "btn btn-danger" href = "/logout"> Logout </a>

          </div>
        </div>
      </div>
    </nav>
   </header>

   <!-- style = "color: red; text-decoration: none"; -->