<form action="/search" method="GET">  <!-- we need a search route to the api -->
    

    
    <div class="row">
        <div class ="col">
            <input name="query" type="text" placeholder="search comics" class="form-control">
        </div>
        <div class ="col">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>

    </div>


</form>