<form action="/search" method="POST">  <!-- we need a search route to the api -->
    

    
    <!-- <div class="row"> -->
        <div class="col-auto">
            <div style="width: 50%; margin:auto" class="d-flex">
                <input id="searchQuery" name="searchQuery" type="number" min="1" placeholder="ID based comic search" class="form-control mx-2" style="margin-bottom:30px;" required>
                <button type="submit" class="btn btn-primary mx-2" style="margin-bottom:30px;" >Search</button>
            </div>
        </div>

    <!-- </div> -->


</form>