<form action="/search" method="POST">  <!-- we need a search route to the api -->
    

    
    <!-- <div class="row"> -->
        <div class ="col">
            <input id="searchQuery" name="searchQuery" type="number" placeholder="ID based comic search" class="form-control" required>
        </div>
        <div class ="col">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>

    <!-- </div> -->


</form>