<form action="/search" method="POST">  <!-- we need a search route to the api -->
    

    
    <!-- <div class="row"> -->
        <div class ="col-auto">
            <div style="width: 50%; margin:auto">
                <input id="searchQuery" name="searchQuery" type="number" placeholder="ID based comic search" class="form-control" required>
            <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>

    <!-- </div> -->


</form>